<div class="row mb-3">
    <div class="col-md-12 card">
        <div class=" row  productDetails">
            <div class="col-md-4">
                <div class="productImage">
                    <img src={{card.productImage}}>
                    <p>{{card.offerText}}% OFF</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="productData">
                    <h2>{{card.brandName}}</h2>
                    <p>{{card.productName}}</p>
                    <p>MRP {{card.mrf }}</p>
                    <p><b>RS. {{card.price}}</b></p>
                    <div class="buttonSection">
                        <button type="submit" class="btn" (click)="addToCart()">Add to Cart</button>
                        <button class="btn roundData" type="button" (click)="reduceItems()">-</button>
                        <p>{{itemCount}}</p>
                        <button class="btn roundData" type="button" (click)="addItems()">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>