<div class="card">
        <div class="productDetails">
            <div class="productImage">
                <img src={{card.productImage}}>
                <p>{{card.offerText}}% OFF</p>
            </div>
            <div class="productData">
                <h3>{{card.brandName}}</h3>
                <p>{{card.productName}}</p>
                <p>MRP {{card.mrf}}</p>
                <p><b>RS. {{card.price}}</b></p>
                <div class="buttonSection">
                    <button type="submit" class="btn">Add to Cart</button>
                    <button class="btn roundData" type="button">+</button>
                    <p>9</p>
                    <button class="btn roundData" type="button">-</button>
                </div>
            </div>
        </div>
</div>
