
<div class="mainContainer">
    <h2>Transaction SuccessFull</h2>
  <div class="card" *ngFor="let productDetails of newArray">
    <div class="productDetails" *ngIf="productDetails.quantity > 0">
        <div class="productImage">
            <img src={{productDetails.productImage}}>
        </div>
        <div class="productData">
            <h3>{{productDetails.brandName}}</h3>
            <p>{{productDetails.quantity}}</p>
        <p><b>RS. {{(productDetails.price) * (productDetails.quantity)}} </b></p>
        </div>
    </div>
</div>
<p class="total">Total : {{totalprice}}</p>
    <button class="btn " (click)="onNoClick()">Ok</button>
</div>
