<div class="mainContainer">
    <div class="row">
        <div class="col-md-12">
            <h2>Cart Details</h2>
            <div class="row" *ngFor="let productDetails of newArray; let i = index;">
                <div class=" col-md-12 productDetails " *ngIf="productDetails.quantity > 0">
                    <div class="row cardDetails mb-3">
                        <div class="col-md-2">
                            <div class="productImage">
                                <img src={{productDetails.productImage}}>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h3>{{productDetails.brandName}}</h3>
                        </div>
                        <div class="col-md-2">
                            <h3>{{productDetails.productName}}</h3>
                        </div>
                        <div class="col-md-2">
                            <p>{{productDetails.quantity}}</p>
                        </div>
                        <div class="col-md-2">
                            <p><b>RS. {{(productDetails.price) * (productDetails.quantity)}} </b></p>
                        </div>
                        <div class="col-md-1">
                            <button class="btn " (click)="remove(i)">Remove</button>     
                        </div>
                    </div>
                </div>
            </div>
            <p class="total">Total : {{totalprice}} Count {{totalCount}}</p>
            <button class="btn " (click)="onNoClick()">Ok</button>
        </div>
    </div>
</div>