h2{
    text-align: center;
    color:red;
    font-size: 25px;
    text-decoration: underline;
    margin-top:10px;
}
.detailsSection{
    background-color: palevioletred;
    margin:10px 60px;
    padding: 10px 0px;
    .section1{
        display: flex;
        margin-bottom: 5px;
        align-items: center;
        justify-content: center;
        h4,p{
            margin:0px;
            font-size: 30px;

        }
        p{
            margin-left:10px;
        }
    }
    .buttonSection{
        .btn{
            background-color: transparent;
            color: white;
            font-size: 18px;
            font-weight: 600;
            border-color: black;
            padding: 10px;
            border-radius: 5px;

        }
    }
    text-align: center;

}
.search-hero .form-control{
    border: 0px;
    border-bottom: 2px solid green;
    border-radius: 0px;
}
.form-control:focus { 
    outline: 0;
    box-shadow: none; 
}
.bg-light {
    background-color: #008000!important;
}
.container-fluid{
    padding:0px;
}
.form-inline p{
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
